@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right , #14C0E3, #136eb3, #2d51a5);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.678);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #13B5DD;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.829);
}

h2{
    color: #2A55A7;
}

p{
    text-align: justify;
}